.lessons{
    background: url('../../assets/lessons-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}
.lessons__input input{
    background: #fff;
    border: 1px solid #d6d6d6;
    width: 643px;
    outline: none;
    padding: 11px 0 11px 43px;
    border-radius: 20px;
    font-size: 24px;
}
.lessons__input{
    position: absolute;
    bottom: 116px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.lessons__input::after{
    content:'';
    background: url('../../assets/search.svg');
    width: 41px;
    height: 42px;
    display: block;
    position: relative;
    right: 70px;
    top:5px;
}
